/ImgOut/Batch2-Comparison1.jpg
/ImgOut/Batch2-Comparison2.jpg
/ImgOut/Batch2-Comparison3.jpg
/ImgOut/Batch2-Comparison4.jpg
/ImgOut/Batch2-Comparison5.jpg
/ImgOut/Batch2-Comparison6.jpg
/ImgOut/Batch2-Comparison7.jpg
/ImgOut/Batch2-Comparison8.jpg
/ImgOut/Batch2-Comparison9.jpg
/ImgOut/Batch2-Comparison10.jpg
/ImgOut/Batch2-Comparison11.jpg
/ImgOut/Batch2-Comparison12.jpg
/Dataset/image/
/Dataset/maskHardF/
/Dataset/maskHardG/
/Dataset/maskHardN/
/Dataset/maskSecurityF/
/Dataset/maskSecurityG/
/Dataset/maskSecurityN/
/LesionDataset/LesionDataset/
/LesionDataset/labels/
/LesionDataset/images/
/Dataset/maskHardJ/
/Dataset/maskSecurityJ/
/LesionDataset/
/SuperviselyData/
/SuperviselyDataFilippo/
/SuperviselyDataGiuseppe/
/SuperviselyDataNicolas/
/TESTEST/

/Dataset/
