

/LesionDataset/LesionDataset/
/LesionDataset/labels/
/LesionDataset/images/
/LesionDataset/

/annotationData26/
/ImgOut/
/heatmap/
/Exam/
/keycode/
/ImgOut2/
/ImgOut3/
/ImgOut3/
/heatmap2/
/annotationData27/
/annotationData28/

/annotationData/
/annotationData26/
/annotationData27/
/annotationData28/
