

/LesionDataset/LesionDataset/
/LesionDataset/labels/
/LesionDataset/images/
/LesionDataset/

/annotationData26/
/ImgOut/
/heatmap/
/Exam/
/keycode/
/ImgOut2/
/ImgOut3/
/ImgOut3/
/annotationDatas/annotationData27/
/annotationDatas/annotationData28/

/annotationDatas/annotationData/
/annotationDatas/annotationData21/
/annotationDatas/annotationData22/
/annotationDatas/annotationData23/
/annotationDatas/annotationData24/
/annotationDatas/annotationData25/
/annotationData26/
/annotationDatas/annotationData27/
/annotationDatas/annotationData28/
/annotationData210/
/annotationDatas/annotationData2j/
/annotationDatas/annotationData29/
/annotationDatas/annotationData5/
/annotationDatas/annotationData3j/
/annotationDatas/annotationData211/
